<!DOCTYPE html>
<html lang="en" style="font-family: Impact">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ad</title>
</head>
<body style="margin: 0px ; background-color: #343434;">

    <div style="text-align: center ; margin:auto ; width: 50%">

        <h1 style="font-weight: normal ; text-shadow: 4px 4px rgba(0,0,0,0.25) ; border-radius: 10px ; color: white ; letter-spacing: 1px;">VAMOS NOS CONHECER!</h1>

        <div style="padding: 5px; ; box-shadow: 0px 4px 4px rgba(0,0,0,0.25) ; border-radius: 10px ; text-align: center ; background-color: #ECD06B" >
        
            <p style="color: #343434">
                Narigo está sempre a procura de novos amigos pra conversar pelo SMN, <br> Venha <span style="color: #D47363">AMIGAR</span>
                na nova rede social da Starving Developers! <br> Aproveite e não venha sozinho!
            </p>

            <img src="../assets/images/narigoFantasma.png" alt="Narigo oi!">

            <p style="color: #343434;">Vamos! Não é todo dia que você recebe um convite de um FANTASMA DE MEIA</p>

            <div style="box-shadow: 0px 4px 4px rgba(0,0,0,0.25) ; border-radius: 5px ; width: 30% ; background-color: #C74D5C; margin: auto ; align-items: center">
                <a href="https://smn.starvingdevelopers.tech/" style="color: #3F3636">Amigar com Narigo</a>

            </div>
            
            
        </div>
    </div>

</body>
</html>