<!DOCTYPE html>
<html lang="pt-br" style="font-family: impact;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha recuperada</title>
</head>

<body style="margin: 0px ; background-color: #343434;">

<div style="text-align: center ; margin:auto ; width: 50%">

    <h1 style="font-weight: normal ; text-shadow: 4px 4px rgba(0,0,0,0.25) ; border-radius: 10px ; color: white ; letter-spacing: 1px;">SENHA ALTERADA!</h1>

    <div style="padding: 5px ; box-shadow: 0px 4px 4px rgba(0,0,0,0.25) ; border-radius: 10px ; text-align: center ; background-color: #ECD06B" >

        <p style="color: #343434">
            <span style="color: #D47363">{nickname}</span> sua senha foi alterada com sucesso! Basta acessar sua conta novamente!
        </p>
        <img src="../assets/images/narigoPisca.png" alt="Narigo confia">



        <p style="color: #343434">Caso não tenha sido você entre em contato conosco, pois sua conta pode estar em risco!!</p>

        <div style="box-shadow: 0px 4px 4px rgba(0,0,0,0.25) ; border-radius: 5px ; width: 30% ; background-color: #C74D5C; margin: auto ; align-items: center">
            <a href="https://smn.starvingdevelopers.tech/" style="color: #3F3636">Pedir ajuda!</a>

        </div>


    </div>
</div>

</body>
</html>


