<!DOCTYPE html>
<html lang="pt-br" style="font-family: impact;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boasVindas</title>
</head>

<body style="margin: 0px ; background-color: #343434;">

<div style="text-align: center ; margin:auto ; width: 50%">

    <h1 style="font-weight: normal ; text-shadow: 4px 4px rgba(0,0,0,0.25) ; border-radius: 10px ; color: white ; letter-spacing: 1px;"> BEM-VINDO!</h1>

    <div style="padding: 5px ; box-shadow: 0px 4px 4px rgba(0,0,0,0.25) ; border-radius: 10px ; text-align: center ; background-color: #ECD06B" >

        <p style="color: #343434">
            Boas vindas ao SMN! <span style="color: #D47363">{nickname}</span>, nós da Starving Developers estamos <br>
            Muito felizes de te receber na nossa comunidade!
        </p>
        <img src="../assets/images/narigoFantasma.png" alt="Narigo oi!">



        <p style="color: #343434">Ei! Amigos nunca são de mais! Que tao você me apresentar aos seus?</p>

        <div style="box-shadow: 0px 4px 4px rgba(0,0,0,0.25) ; border-radius: 5px ; width: 30% ; background-color: #C74D5C; margin: auto ; align-items: center">
            <a href="https://smn.starvingdevelopers.tech/" style="color: #3F3636">convidar amigos</a>

        </div>


    </div>
</div>

</body>
</html>


